In [1]:
# Mustafa Kemal AYDIN
# 200905023

import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import os
for dirname, _, filenames in os.walk('/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Veri Analizi ve Temizlenmesi

In [2]:
# Name stünu silindi ve ilk 10 veri gösterildi
df = pd.read_csv("backup.csv")
df = df.drop(labels="Name",axis=1)
df['Year'] = pd.DatetimeIndex(df['Launched']).year
df.head(10)

,ID,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State,Year
0,1860890148,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed,2009
1,709707365,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed,2009
2,1703704063,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful,2009
3,727286,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful,2009
4,1622952265,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed,2009
5,2089078683,Journalism,Journalism,United States,2009-04-28 13:55:41,2009-05-16,3000,3329,110,Successful,2009
6,830477146,Film & Video,Shorts,United States,2009-04-29 02:04:21,2009-05-29,200,41,3,Failed,2009
7,266044220,Publishing,Fiction,United States,2009-04-29 02:58:50,2009-05-29,500,563,18,Successful,2009
8,1502297238,Theater,Theater,United States,2009-04-29 04:37:37,2009-06-01,500,0,0,Canceled,2009
9,813230527,Music,Rock,United States,2009-04-29 05:26:32,2009-05-16,300,15,2,Failed,2009

In [3]:
# Boş veriler gösterildi
df.isnull().sum()

ID             0
Category       0
Subcategory    0
Country        0
Launched       0
Deadline       0
Goal           0
Pledged        0
Backers        0
State          0
Year           0
dtype: int64

In [4]:
# Veriler değerlendirildi
df.describe()

                 ID          Goal       Pledged      Backers    Year
count  9.990000e+02  9.990000e+02    999.000000   999.000000   999.0
mean   1.074048e+09  7.203069e+03   2040.285285    32.467467  2009.0
std    6.065608e+08  3.676912e+04   4437.591249    69.866411     0.0
min    6.378670e+05  1.000000e+00      0.000000     0.000000  2009.0
25%    5.669267e+08  1.500000e+03     41.000000     2.000000  2009.0
50%    1.070416e+09  3.000000e+03    525.000000    10.000000  2009.0
75%    1.612793e+09  5.500000e+03   2252.000000    38.000000  2009.0
max    2.147220e+09  1.065000e+06  84614.000000  1312.000000  2009.0

In [5]:
# Sayısal veriler kategorilere ayrıldı
categorical_df = df.iloc[:,1:4]
numerical_df = df.iloc[:,6:9]
numerical_df

      Goal  Pledged  Backers
0     1000      625       30
1    80000       22        3
2       20       35        3
3       99      145       25
4     1900      387       10
..     ...      ...      ...
994   2000      865       13
995   5000     5075       89
996  11000     2075        6
997   2000     1004       24
998   1500     1505       44

[999 rows x 3 columns]

Verilerin başarılı proje ve başarısız proje olarak değerlendirilmesi

In [6]:
# Başarılı projeler yıllara göre ait oldukları ülkeler
df_successfull=df[df["State"] == "Successful"]
df_successfull["Country"].value_counts()

print("Total successful attempts : ",end=" ")
print(df_successfull["Country"].value_counts().sum())

print("Total number of successful attempts by type : ")
print(df_successfull["Country"].value_counts())

Total successful attempts :  419
Total number of successful attempts by type :
United States    419
Name: Country, dtype: int64

In [7]:
# Başarılı projeler yıllara göre kategorileri
df_successfull=df[df["State"] == "Successful"]
df_successfull["Category"].value_counts()

print("Total successful attempts : ",end=" ")
print(df_successfull["Category"].value_counts().sum())

print("Total number of successful attempts by type : ")
print(df_successfull["Category"].value_counts())

Total successful attempts :  419
Total number of successful attempts by type :
Music           109
Film & Video     86
Art              59
Publishing       40
Photography      27
Theater          18
Games            17
Journalism       15
Technology       13
Food             12
Comics            9
Fashion           4
Design            4
Crafts            4
Dance             2
Name: Category, dtype: int64

In [8]:
# Başarısız projelerin yıllara göre ait oldukları ülekeler
df_failed=df[df["State"] == "Failed"]
df_failed["Country"].value_counts()

print("Total failed attempts : ",end=" ")
print(df_failed["Country"].value_counts().sum())

print("Total number of failed attempts by type : ")
print(df_failed["Country"].value_counts())

Total failed attempts :  460
Total number of failed attempts by type :
United States    460
Name: Country, dtype: int64

In [9]:
# Başarısız projelerin yıllara göre kategorileri
df_failed=df[df["State"] == "Failed"]
df_failed["Category"].value_counts()

print("Total failed attempts : ",end=" ")
print(df_failed["Category"].value_counts().sum())

print("Total number of failed attempts by type : ")
print(df_failed["Category"].value_counts())

Total failed attempts :  460
Total number of failed attempts by type :
Film & Video    121
Music            87
Art              60
Publishing       44
Photography      24
Technology       23
Fashion          18
Theater          18
Design           15
Games            14
Journalism       14
Comics            7
Food              7
Crafts            5
Dance             3
Name: Category, dtype: int64

Aykırı Verilerin Bulunması

In [10]:
hero_df = df_successfull[df_successfull["Goal"] > df_successfull["Pledged"]]
hero_df

Empty DataFrame
Columns: [ID, Category, Subcategory, Country, Launched, Deadline, Goal, Pledged, Backers, State, Year]
Index: []

2 proje girişimi yeterli destek görememesine rağmen başarılı olmuş.

Sınıflandırma Modelini Modeli oluşturma

Başarılı ve Başarısız proje verilerinin birleştirilmesi

In [11]:
# Başarısız projeler
df_failed=df[df["State"] == "Failed"]
df_failed.head()

,ID,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State,Year
0,1860890148,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed,2009
1,709707365,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed,2009
4,1622952265,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed,2009
6,830477146,Film & Video,Shorts,United States,2009-04-29 02:04:21,2009-05-29,200,41,3,Failed,2009
9,813230527,Music,Rock,United States,2009-04-29 05:26:32,2009-05-16,300,15,2,Failed,2009

In [12]:
# Başarılı projeler
df_successfull=df[df["State"] == "Successful"]
df_successfull.head()

,ID,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State,Year
2,1703704063,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful,2009
3,727286,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful,2009
5,2089078683,Journalism,Journalism,United States,2009-04-28 13:55:41,2009-05-16,3000,3329,110,Successful,2009
7,266044220,Publishing,Fiction,United States,2009-04-29 02:58:50,2009-05-29,500,563,18,Successful,2009
10,469734648,Photography,Photography,United States,2009-04-29 06:43:44,2009-06-17,350,1630,31,Successful,2009

In [13]:
df2 = pd.concat([df_successfull,df_failed],axis=0)
df2.drop(columns=["ID","Launched","Deadline"],inplace=True)
df2.reset_index(inplace=True)

Preprocessing

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2["State"] = le.fit_transform(df2["State"])

In [15]:
X = df2.drop(columns = ["State"], axis=1)
y = df2["State"]

In [16]:
num_features = X.select_dtypes(exclude = "object").columns
cat_features = X.select_dtypes(include = "object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [  
        ("OneHotEncoder",oh_transformer,cat_features),
        ("StandardScaler", numeric_transformer,num_features),
    ]
)

In [17]:
X = preprocessor.fit_transform(X)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state = 35)
X_train.shape, X_test.shape

((615, 76), (264, 76))

In [19]:
# Naive Bayes ayarlaması
Xd = X.toarray()
Xd_train, Xd_test, yd_train, yd_test = train_test_split(Xd,y, test_size=0.3,random_state = 35)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# logistic regression
logr = LogisticRegression()
logr.fit(X_train,y_train)

# decision tree regression
decr = DecisionTreeRegressor()
decr.fit(X_train,y_train)

# random forest classification
ranc = RandomForestClassifier()
ranc.fit(X_train,y_train)

# k nearest neighbors classification
knnc = KNeighborsClassifier()
knnc.fit(X_train,y_train)

# support vector machine classification
svmc = svm.SVC(kernel='linear')
svmc.fit(X_train,y_train)

# naive bayes classification
gnbc = GaussianNB()
gnbc.fit(Xd_train,yd_train)

# adaboost classification
adac = AdaBoostClassifier()
adac.fit(X_train,y_train)

# ann classification
annc = MLPClassifier()
annc.fit(X_train,y_train)

MLPClassifier()

In [21]:
prediction = logr.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.9090909090909091
F1 Score: 0.901
Precision Score: 0.908
Recall Score: 0.893

In [22]:
prediction = decr.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.9696969696969697
F1 Score: 0.968
Precision Score: 0.945
Recall Score: 0.992

In [23]:
prediction = ranc.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.9431818181818182
F1 Score: 0.940
Precision Score: 0.915
Recall Score: 0.967

In [24]:
prediction = knnc.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.7575757575757576
F1 Score: 0.733
Precision Score: 0.746
Recall Score: 0.721

In [25]:
prediction = svmc.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.928030303030303
F1 Score: 0.921
Precision Score: 0.940
Recall Score: 0.902

In [26]:
prediction = gnbc.predict(Xd_test)
accuracy = accuracy_score(yd_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(yd_test, prediction))
print('Precision Score: %.3f' % precision_score(yd_test, prediction))
print('Recall Score: %.3f' % recall_score(yd_test, prediction))

Accuracy Score: 0.7196969696969697
F1 Score: 0.686
Precision Score: 0.711
Recall Score: 0.664

In [28]:
prediction = adac.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.9886363636363636
F1 Score: 0.988
Precision Score: 0.976
Recall Score: 1.000

In [30]:
prediction = annc.predict(X_test)
accuracy = accuracy_score(y_test,prediction)
print('Accuracy Score:', accuracy)
print('F1 Score: %.3f' % f1_score(y_test, prediction))
print('Precision Score: %.3f' % precision_score(y_test, prediction))
print('Recall Score: %.3f' % recall_score(y_test, prediction))

Accuracy Score: 0.9128787878787878
F1 Score: 0.905
Precision Score: 0.909
Recall Score: 0.902